
/* Base Style */
body {
    background-color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}
#footer {
    margin-top: 50px;
    font-size: 14px;
}
#about {
    padding: 20px;
    background: #f4f4f4;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 600px;
}